<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.aaa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Measured" />
        <activity android:name=".Observation" />
        <activity android:name=".BluetoothAdapterDemoActivity" />
        <activity android:name=".Question" />
        <activity android:name=".Upload" />
        <activity android:name=".Messenger" />
        <activity android:name=".getRecord" />
        <activity android:name=".StartReceiveActivity" />
        <activity android:name=".getphpdataActivity" />
        <activity android:name=".RecordActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-3phrz1d07hmw22y" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".take_a_picture" />
        <activity android:name=".Watch_picture" />
        <activity
            android:name=".picture_and_record"
            android:label="@string/title_activity_picture_and_record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".YouTu"></activity>
        <activity android:name=".YouTubePlay"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.androidfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>